.m-unique-id-error {
    display: flex;
    flex-direction: row;
}

.m-unique-id-error__text-container {
    flex-grow: 1;
    padding: 3px;
    margin: 3px;
}

.m-unique-id-error.-fixed .m-unique-id-error__fix,
.m-unique-id-error.-fixed .m-unique-id-error__show {
    display: none;
}

.m-unique-id-error__fix {
    width: 100px;
}

.m-unique-id-error.-fixed
.m-unique-id-error__fix-message {
    display: flex;
}

.m-unique-id-error__fix-message {
    width: 100px;
    display: none;
    color: rgba(0, 255, 0, 1);
    padding: 3px;
    margin: 3px;
    -unity-text-align: middle-center;
    background-color: gray;
}
